.r-plt img {
  background: #FFFFFF;
}

.template-home .contents .section.level1 .page-header {
  padding-top: 60px;
  padding-bottom: 0px !important;
  margin-bottom: 15px !important;
}

[id='prioritizr-'] {
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}

[id='systematic-conservation-prioritization-in-r'] {
  margin-top: 0px !important;
  padding-top: 0px !important;
  font-size: 35px;
  padding-bottom: 10px;
}
