.r-plt img {
  background: #FFFFFF;
}

.page-header {
  border-bottom: none !important;
  padding-bottom: 0px !important;
  min-height: 0px !important;
}

#systematic-conservation-prioritization-in-r {
  margin-bottom: 30px;
  font-style: italic;
}

#prioritizr {
  margin-top: 10px;
}

#readme-figure {
  position: relative;
  top: -60px;
  margin-bottom: -40px;
  width: 180px;
  float: right;
}

#readme-img {
  width: 120px;
}

#readme-a {
  font-size: 11px;
}

div[class="section level1"] img[class="logo"] {
  display: none;
}
